body {
    margin: 0
}

.page-content {
    width: 100%;
    margin: 0 auto;
    background: #75e2e9;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    background-image: -moz-linear-gradient( 136deg,rgb(149,153,226) 0%,rgb(139,198,236) 100%);
    background-image: -webkit-linear-gradient( 136deg,rgb(149,153,226) 0%,rgb(139,198,236) 100%);
    background-image: -ms-linear-gradient( 136deg,rgb(149,153,226) 0%,rgb(139,198,236) 100%)
}
